.bio-paragraph {
  text-align: justify;

  &:not(:last-child) {
    margin-bottom: 1em;
  }

  img {
    max-width: 8em;
    height: auto;
    // line-height is 1.5 (implied em), so 0.5em is split between space above and
    // below each line. So 0.25em aligns image top with top of first text line.
    padding-top: 0.25em;
  }
}

#timeline {
  // custom properties to be accessed by timeline.js
  // TODO: can probably define these more cleanly in a Sass script loop
  --vertical-padding: #{$tl-vertical-padding};  // TODO: is this necessary?
  --background-color: #{$tl-background-color};
  --background-alpha: #{$tl-background-alpha};
  --year-color: #{$tl-year-color};
  --year-alpha: #{$tl-year-alpha};
  --year-font-size: #{$tl-year-font-size};
  --gridline-color: #{$tl-gridline-color};
  --gridline-alpha: #{$tl-gridline-alpha};
  --gridline-width: #{$tl-gridline-width};
  --event-width: #{$tl-event-width};
  --event-offset: #{$tl-event-offset};
  --info-line-width: #{$tl-info-line-width};
  --info-x-offset: #{$tl-info-x-offset};
  --info-y-offset: #{$tl-info-y-offset};
  --info-font-size: #{$tl-info-font-size};
  --info-font-color: #{$tl-info-font-color};
  --info-font-alpha: #{$tl-info-font-alpha};

  min-width: 10vw;
  max-width: 90vw;
  min-height: 475px;
  max-height: 100%;

  text-align: initial;

  ul {
    display: none;
  }
}
