.bio-paragraph {
  margin-bottom: 1em;
  text-align: justify;

  img {
    max-width: 8em;
    height: auto;
    // line-height is 1.5 (implied em), so 0.5em is split between space above and
    // below each line. So 0.25em aligns image top with top of first text line.
    padding-top: 0.25em;
  }
}

#timeline {
  @each $key, $value in $timeline-vars {
    --#{$key}: #{$value};
  }

  min-width: 10vw;
  max-width: 90vw;
  min-height: 475px;
  max-height: 100%;

  text-align: initial;

  ul {
    display: none;
  }
}

.timeline-canvas-el {
  position: absolute;
  width: 100%;
  height: 100%;
}
