{% comment %}
  FIXME: remove container and refactor margins/padding like other content
{% endcomment %}

<div class="container">
  <div class="row">
    <div class="col-sm-7">
      {% assign img_right_cls = "float-right pl-3" %}
      {% assign img_left_cls = "float-left pr-3" %}

      {% for paragraph in include.pane.bio_paragraphs %}
        <div class="row text-justify mt-2">
          <div class="bio-paragraph col-sm-12">
            <div class="bio-img {% cycle img_right_cls, img_left_cls %}">
                <img class="img-fluid" src="{{ paragraph.image | relative_url }}" alt="X">
              </div>
            {{ paragraph.text | markdownify }}
            </div>
        </div>
      {% endfor %}
    </div>

    <div id="timeline" class="col-sm-5"
         data-start="{{ include.pane.timeline.start }}"
         data-end="{{ include.pane.timeline.end }}">
      <ul class="timeline-events">
        {% for event in include.pane.timeline.events %}
          {% assign event_id = event.title | replace: " ", "_" | prepend: "timeline-event-" %}

          <li id="{{ event_id }}"
              data-start="{{ event.start }}"
              data-end="{{ event.end }}"
              data-color="{{ event.color }}"></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
