<div class="row no-gutters">
  <div class="col-lg-7">

    {% for paragraph in include.pane.bio_paragraphs %}
      <div class=" bio-paragraph">
        <img class="{% cycle 'bio-img-right', 'bio-img-left' %}"
             src="{{ paragraph.image | relative_url }}"
             alt="">
        <div class="bio-text">
          {{- paragraph.text | markdownify | remove: '<p>' | remove: '</p>' -}}
        </div>
      </div>
    {% endfor %}
  </div>

  <div id="timeline" class="col-lg-5"
       data-start="{{ include.pane.timeline.start }}"
       data-end="{{ include.pane.timeline.end }}">
    <ul class="timeline-events">
      {% for event in include.pane.timeline.events %}
        {% assign event_id = event.title | replace: " ", "_" | prepend: "timeline-event-" %}

        <li id="{{ event_id }}"
            data-start="{{ event.start }}"
            data-end="{{ event.end }}"
            data-color="{{ event.color }}">
          {{ event.title }}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
