<div class="container">
  {% for item in include.pane.items %}
    <div class="row mb-n4">
       <div class="col-12">
         <div class="float-left">
           <p><code>{{ item.title }}</code></p>
         </div>
       </div>
    </div>
    <div class="row">
      <div class="col-12">
        <blockquote><samp>{{ item.description | markdownify }}</samp></blockquote>
      </div>
    </div>
    <div class="row mb-3">
      {% capture gist_id %}#gist_{{ item.title | downcase | replace: ' ', '_' }}{% endcapture %}
      <button type="button" class="btn btn-primary btn-block" data-toggle="collapse" data-target="{{ gist_id }}">button text</button>
      <div class="collapse" id="{{ gist_id }}">
        HELLO IT ME
      </div>
    </div>
  {% endfor %}
</div>