<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}</title>
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/img/favicon/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/img/favicon/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/img/favicon/favicon-16x16.png' | relative_url }}">
  <link rel="manifest" href="{{ 'assets/img/favicon/site.webmanifest' | relative_url }}">
  <link rel="mask-icon" href="{{ 'assets/img/favicon/safari-pinned-tab.svg' | relative_url }}" color="#2d3b4d">
  <link rel="shortcut icon" href="{{ 'assets/img/favicon/favicon.ico' | relative_url }}">

  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="{{ 'assets/img/favicon/browserconfig.xml' | relative_url }}">
  <meta name="theme-color" content="#ffffff">

  <!-- Stylesheets -->
  <!-- TODO: once script hierarchy is finalized, optimize with defer/async/etc. -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer">
  <link href="{{ 'assets/css/main.css' | relative_url }}" rel="stylesheet">

  <!-- Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
          integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"
          integrity="sha512-iceXjjbmB2rwoX93Ka6HAHP+B76IY1z0o3h+N1PeDtRSsyeetU3/0QKJqGyPJcX63zysNehggFwMC/bi7dvMig=="
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"
          integrity="sha512-0QbL0ph8Tc8g5bLhfVzSqxe9GERORsKhIn1IrpxDAgUsbBGz/V7iSav2zzW325XGd1OMLdL4UiqRJj702IeqnQ=="
          crossorigin="anonymous"></script>

  <script src="{{ 'assets/js/creative.min.js' | relative_url }}" defer></script>
  <script src="{{ 'assets/js/particle-image.min.js' | relative_url }}" defer></script>
  <script src="{{ 'assets/js/timeline.min.js' | relative_url }}" defer></script>
  <script src="{{ 'assets/js/scroll-shadows.min.js' | relative_url }}" defer></script>
  <script src="{{ 'assets/js/nav-slider.min.js' | relative_url }}" defer></script>
  <script src="{{ 'assets/js/skill-captions.min.js' | relative_url }}" defer></script>

  <!-- init script for tooltip plugin (from Popper.js) -->
  <script>
    $(document).ready(function() {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>

  {% comment %}
    suppress plugin-generated <title> tag in favor of simpler version above --
    jekyll-seo-plugin's auto title behavior is annoying and doesn't make much
    sense for single-page sites
  {% endcomment %}
  {% seo title=false %}

  {% if jekyll.environment == "production" %}
    {% comment %}
      - defaults to "development" (https://jekyllrb.com/docs/configuration/environments/)
      - github-pages auto deployment sets it to "production"
        (https://github.com/actions/jekyll-build-pages/blob/9b882383c88a22eef81e9c1a5a232c2ff9a6672b/entrypoint.sh#L17)
    {% endcomment %}
    {% include analytics.html %}
  {% endif %}
</head>
