<div class="publication-cards">
  {% for item in section.items %}
    {% if include.filter == "all" or include.filter == item.type %}
      <div class="publication row align-items-center mb-5">
        <div class="col-2 pr-0 text-center">
          <img src="{{ item.image | relative_url }}" alt="X">
        </div>
        <div class="col-10 pl-5 text-left">
          <h4>{{ item.title | markdownify | remove: '<p>' | remove: '</p>' }}</h4>
          {{ item.text | markdownify }}
          <div class="publication-icons mt-n2">
            {% if item.pdf_url %}
              <a aria-label="PDF" href="{{ item.pdf_url }}" target="_blank" rel="noopener noreferrer">
                <i class="icon fas fa-file-pdf fa-fw" aria-hidden="true" title="PDF" data-toggle="tooltip" data-placement="bottom"></i>
              </a>
            {% endif %}
            {% if item.slides_url %}
              <a aria-label="Slides" href="{{ item.slides_url }}" target="_blank" rel="noopener noreferrer">
                <i class="icon fas fa-chalkboard fa-fw" aria-hidden="true" title="Slides" data-toggle="tooltip" data-placement="bottom"></i>
              </a>
            {% endif %}
            {% if item.code_url %}
              <a aria-label="Code" href="{{ item.code_url }}" target="_blank" rel="noopener noreferrer">
                <i class="icon fas fa-file-code fa-fw" aria-hidden="true" title="Code" data-toggle="tooltip" data-placement="bottom"></i>
              </a>
            {% endif %}
            {% if item.data_url %}
              <a aria-label="Data" href="{{ item.data_url }}" target="_blank" rel="noopener noreferrer">
                <i class="icon fas fa-database fa-fw" aria-hidden="true" title="Data" data-toggle="tooltip" data-placement="bottom"></i>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
