{% for category in include.pane.categories %}
  <div class="row skills-category">
    <div class="col-12">
      <h5 class="skills-category-title">{{ category.title }}</h5>
      <div class="skills-grid">
        {% for skill in category.skills %}
          <div class="skill-box">
            <img src="{{ skill.image | prepend: "assets/img/skills/" | relative_url }}" alt="{{ skill.caption }}">
            {% comment %} <img src="{% cycle 'https://placehold.co/600x600', 'https://placehold.co/500x750', 'https://placehold.co/800x400' %}" alt="{{ skill.caption }}"> {% endcomment %}
            <p>{{ skill.caption }}</p>
            {% comment %} <p>
              {% if skill.caption == 'LaTeX' %}
                <span class="latex">L<sup>a</sup>T<sub>e</sub>X</span>
              {% else %}
                {{ skill.caption }}
              {% endif %}
            </p> {% endcomment %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}
