<section id="{{ section.id }}" class="page-section {{ section.background_style }}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h1 class="mt-0">{{ section.title }}</h1>
        <hr class="divider my-4">
        {% if section.before_text %}
          <p class="text-muted mb-4">{{ section.before_text }}</p>
        {% endif %}
      </div>
    </div>
    <div class="software-cards">
      {% for item in section.items %}
        <div class="row mb-n4">
          <div class="col-12">
            <div class="float-left">
              <p><code>{{ item.title }}</code></p>
            </div>
            <div class="float-right">
             <p><code class="text-muted"># {{ item.role }}</code></p>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <blockquote><samp>{{ item.description | markdownify }}</samp></blockquote>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>