<div class="software-cards text-left">
  {% for item in include.pane.items %}
    <div class="row mb-n4">
      <div class="col-12">
        <div class="float-left">
          <p><code>{{ item.title }}</code></p>
        </div>
        <div class="float-right">
         <p><code class="text-muted"># {{ item.role }}</code></p>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <blockquote><samp>{{ item.description | markdownify }}</samp></blockquote>
      </div>
    </div>
  {% endfor %}
</div>