.bio-img {
  width: 100%;
  height: 100%;
  img {
    max-width: 65%;
    max-height: 65%;
  }
}

#timeline {
  // stores custom properties to be accessed by timeline.js
  --vertical-padding: #{$tl-vertical-padding};
  --background-color: #{$tl-background-color};
  --background-alpha: #{$tl-background-alpha};
  --timeline-color: #{$tl-timeline-color};
  --timeline-alpha: #{$tl-timeline-alpha};
  --timeline-width: #{$tl-timeline-width};
  --year-color: #{$tl-year-color};
  --year-alpha: #{$tl-year-alpha};
  --year-font-size: #{$tl-year-font-size};
  --gridline-color: #{$tl-gridline-color};
  --gridline-alpha: #{$tl-gridline-alpha};
  --gridline-width: #{$tl-gridline-width};
  --event-width: #{$tl-event-width};
  --event-offset: #{$tl-event-offset};

  min-height: 100%;

  ul {
    display: none;
  }
}