.bio-img {
  width: 100%;
  height: 100%;
  img {
    max-width: 65%;
    max-height: 65%;
  }
}

#timeline {
  // stores custom properties to be accessed by timeline.js
  --background-color: $tl-bg-color;
  --timeline-color: $tl-timeline-color;
  --timeline-width: $tl-timeline-width;
  --year-color: $tl-year-color;
  --bar-width: $tl-bar-width;
  --bar-offset: $tl-bar-offset;
}