#contact a {
  color: $fg-primary;

  @media (max-width: 992px) {
    .row {
      justify-content: center;
      text-align: center !important;
    }
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}
