.header-icons {
  @include fade-in($duration: $header-fade-in-duration, $delay: 3.25s, $timing-func: $header-fade-in-timing);

  display: inline-block;
  justify-content: center;
  text-align: center;

  .icon {
    display: inline-block;
    font-size: 4vw;
    text-align: center;
    vertical-align: middle;
    line-height: 2em;
    color: $header-fg;
    width: 2em;
    height: 2em;
    border: 2px solid $header-fg;
    border-radius: 50%;
    margin: 1vw;
    transition: all 0.7s;

    @media (min-width: 992px) {
      font-size: 2em;
      margin: 0.5em;
    }

    &.custom > svg {
      height: 1em;
      width: 1em;
      vertical-align: -0.0667em;  // based on fontawesome's .fa-lg
      fill: $header-fg;
    }

    &:hover,
    &:active {
      color: $header-bg;
      background: $header-fg;
      text-underline: none;

      svg {
        fill: $header-bg;
      }
    }
  }

  a:hover {
    text-decoration: none;
  }
}
