.header-icons {
  display: inline-block;
  justify-content: center;
  text-align: center;
}

.header-icons a:hover {
  text-decoration: none;
}

.header-icons .icon {
  font-size: 1.5em;
  text-align: center;
  vertical-align: middle;
  line-height: 2em;
  color: $header-fg;
  display: inline;
  width: 50%;
  min-width: 400px;
  height: 50%;
  border: 2px solid $header-fg;
  border-radius: 50%;
  padding: .5em;
  margin: .5em;
  transition: all .7s;

  &:hover {
    color: $header-bg;
    background: $header-fg;
    text-underline: none;
  }

  &:active {
    color: $header-bg;
    background: $header-fg;
}
}
