.publication-cards {
  max-height: 40em;
  overflow-y: auto;
}

.publication-cards::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}

.publication-cards::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: $bg-primary-hfa;
}

.publication.row {
  min-height: 10em;
}

.research-img {
  width: 100%;
  height: 100%;
  img {
    max-width: 60%;
    max-height: 60%;
  }
}