.skills {
  max-width: 80%;
}

.skill-box {
  //width: 4em;
  height: 4em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  line-height: 4em;
  img {
    max-width: 80%;
    max-height: 100%;
  }
}
