blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  padding-left: 15px;
  border-left-width: 3px;
  border-left-style: solid;
  code {
    color: #858585 !important;
    font-weight: bold;
  }
}

.software-cards {
  padding-right: .5em;
  max-height: 40em;
  overflow-x: hidden;
}

.software-cards::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}

.software-cards::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: $bg-secondary-hfa;
}

#software p {
  a {
    color: $fg-secondary-link;
    text-decoration: none;
  }
  a:hover, a:focus, a:active {
    color: $fg-secondary-link-hfa;
    text-decoration: underline;
    background-color: transparent;
  }
}