blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  padding-left: 15px;
  border-left-width: 3px;
  border-left-style: solid;
  code {
    color: #858585 !important;
    font-weight: bold;
  }
}

.software-cards {
  padding-right: .5em;
  max-height: 40em;
  overflow-x: hidden;
}

.software-cards::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}

.software-cards::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: $bg-secondary-hfa;
}

#software p {
  a {
    color: $fg-secondary-link;
    text-decoration: none;
  }
  a:hover, a:focus, a:active {
    color: $fg-secondary-link-hfa;
    text-decoration: underline;
    background-color: transparent;
  }
}

.software-icons {
  font-size: 1.75em;
  margin-inline-start: 40px;
  padding-left: 15px;
  a {
    display: inline-block;
    text-align: center;
    color: $fg-secondary;
  }
  a:hover, a:focus, a:active {
    text-decoration: none;
    color: $fg-secondary-hfa;
    background-color: transparent;
  }
}

.gist-icons {
  margin-inline-start: 40px;
  padding-left: 18px;
  a {
    font-size: 2em;
    vertical-align: middle;
    margin-right: 0.75em;
  }
  a:hover, a:focus, a:active {
    text-decoration: none;
    color: $fg-secondary-hfa;
    background-color: transparent;
  }
}


.gist-toggle.btn {
  border-width: 0;
  color: $fg-secondary;
  background-color: $bg-secondary-hfa;
  &:focus {
    box-shadow: none;
  }
  &:before {
    content: "Collapse";
  }
  .fa:before {
    content: "\f077";
  }
}

.gist-toggle.btn.collapsed {
  color: $bg-secondary;
  background-color: $fg-secondary;
  &:hover {
    color: $fg-secondary;
    background-color: $bg-secondary-hfa;
  }
  &:before {
    content: "Show gist";
  }
  .fa:before {
    content: "\f078";
  }
}