.bg-primary {
  background-color: $bg-primary !important;
  color: $fg-primary;
  .text-muted {
    color: $muted-primary !important;
  }
  hr.divider {
    border-color: $fg-primary;
  }
  a {
    color: $fg-primary;
  }
  a:hover, a:focus, a:active, button:hover,
  button:focus button:active {
    background-color: $bg-primary-hfa;
  }
  code {
    color: $code-primary
  }
  blockquote {
    border-left-color: $bg-primary-hfa;
    a {
      color: $fg-primary-link;
      text-decoration: none;
    }
    a:hover, a:focus, a:active {
      color: $fg-primary-link-hfa;
      text-decoration: underline;
      background-color: transparent;
    }
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: $bg-primary;
    background-color: $fg-primary;
  }
}

.bg-secondary {
  background-color: $bg-secondary !important;
  color: $fg-secondary;
  hr.divider {
    border-color: $fg-secondary;
  }
  a {
    color: $fg-secondary;
  }
  a:hover, a:focus, a:active, button:hover,
  button:focus button:active {
    background-color: $bg-secondary-hfa;
  }
  code {
    color: $code-secondary;
  }
  blockquote {
    border-left-color: $bg-secondary-hfa;
    a {
      color: $fg-secondary-link;
      text-decoration: none;
    }
    a:hover, a:focus, a:active {
      color: $fg-secondary-link-hfa;
      text-decoration: underline;
      background-color: transparent;
    }
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: $bg-secondary;
    background-color: $fg-secondary;
  }
}