// TODO: extract only necessary parts of creative.scss and refactor this

#main-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; // navbar z-index value used by bootstrap/creative.scss

  padding: 1rem;

  font-weight: 700;

  background-color: $navbar-mobile-bg;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 15%);

  .navbar-brand {
    // navbar-brand always has "active" color, even when not .active or :active
    color: $navbar-mobile-fg-active;
  }

  .nav-link {
    padding: 0.75rem 1rem;
    font-size: 0.9rem;
    color: $navbar-mobile-fg;

    &.active {
      color: $navbar-mobile-fg-active;
    }
  }
}

@media (min-width: 768px) {
  #main-nav {
    // TODO: convert hard-coded height to rem to handle user agent settings.
    //  Also update other usages in particle-image.js, creative.js, etc.
    height: 72px;
    color: $navbar-desktop-fg;
    background-color: $navbar-desktop-bg;
    transition: background-color 0.2s ease;

    .navbar-brand {
      padding: 0;
    }

    .navbar-brand,
    .nav-link {
      color: $navbar-desktop-fg;

      &:hover,
      &:active {
        color: $navbar-desktop-fg-hfa;
      }
    }

    .nav-link {
      padding: 0 1rem;
      transition: font-size 0.2s ease;

      // &:hover,
      &.active {
        font-size: 1.1rem;
      }
    }

    .nav-item:last-child .nav-link {
      padding-right: 0;
    }

    &.navbar-scrolled {
      background-color: $navbar-scrolled-bg;

      .navbar-brand,
      .nav-link {
        color: $navbar-scrolled-fg;

        &:hover {
          color: $navbar-desktop-fg-hfa;
        }
      }
    }
  }

  .navbar-nav {
    align-items: center;
  }
}
