// primary section theme
$bg-primary: #2d3b4d;
$bg-primary-hfa: #575c63;
$fg-primary: #fff;
$fg-primary-hfa: #c4c2c2;
$fg-primary-link: #eb38e8;
$fg-primary-link-hfa: #ff66fc;
$code-primary: #c18401;
$muted-primary: #aeb2b5;

// secondary section theme
$bg-secondary: #f7f7f7;
$bg-secondary-hfa: #e2e2e2;
$fg-secondary: $bg-primary;
$fg-secondary-hfa: $bg-primary-hfa;
$fg-secondary-link: #1257b5;
$fg-secondary-link-hfa: #1876f5;
$code-secondary: $code-primary;
$muted-secondary: #6c757d;

// header style
$header-bg: $bg-primary;
$header-fg: $fg-primary;
$header-fade-in-duration: 2s;
$header-fade-in-timing: ease-in;

// mobile navbar style
$navbar-mobile-bg: $header-fg;
$navbar-mobile-fg: #808080;
$navbar-mobile-fg-active: $header-bg;  // when item hsa .active class (current section)

// desktop navbar style
$navbar-desktop-bg: $header-bg;
$navbar-desktop-fg: $header-fg;
$navbar-desktop-fg-hfa: $fg-primary-hfa;

// desktop navbar scrolled style:
$navbar-scrolled-bg: rgba(255, 255, 255, 85%);
$navbar-scrolled-fg: $navbar-desktop-bg;

// footer style
$footer-bg: $bg-secondary;
$footer-fg: $muted-secondary;
$footer-link: $fg-secondary;

// timeline style
// Note: for simplicity, expects all values to be in px or unitless, as
// appropriate (though it would be pretty easy to add add support for em & rem)
$timeline-vars: (
  'vertical-padding': 8px,
  'background-color': $bg-secondary,
  'background-alpha': 1,
  'year-color': #868686,
  'year-alpha': 1,
  'year-font-size': 12px,
  'gridline-color': #868686,
  'gridline-alpha': 0.3,
  'gridline-width': 2px,
  'event-width': 12px,
  'event-offset': 5px,
  'info-line-width': 2px,
  'info-underline-offset': 4px,
  'info-x-offset': 30px,
  'info-y-offset': 0.25,  // <-- "year" units
  'info-min-padding-y': 15px,  // minimum vertical distance between events' info
  'info-font-size': 12px,
  'info-font-color': #868686,
  'info-font-alpha': 1,
  'info-line-height': 1.15  // <-- unitless; same meaning as CSS line-height
);

// scroll shadow component style
$scroll-shadow-height: 10px;
$scroll-shadow-max-alpha: 25%;
$scroll-shadow-fade-in-duration: 0.25s;
