$bio-img-diameter: 6rem;

.bio-paragraph {
  overflow: auto;
  // TODO: update this to only take affect above a particular min-width
  text-align: justify;

  @media (width >= 992px) {
    // to give the timeline some additional room, give the enclosing row
    // .no-gutters and add the timeline column's normal 15px padding-left to the
    // the bio column's 15px padding-right
    padding-right: 30px;
  }

  + .bio-paragraph {
    margin-top: 1rem;
  }
}

.bio-img {
  width: $bio-img-diameter;
  height: $bio-img-diameter;
  shape-outside: circle(50%);

  object-fit: cover;

  border-style: solid;
  border-width: 3px;
  border-radius: 50%;

  @each $group, $color in $timeline-group-colors {
    &-group-#{$group} {
      border-color: #{$color};
    }
  }

  &-right {
    float: right;
    margin-left: 0.5rem;
  }

  &-left {
    float: left;
    margin-right: 0.5rem;
  }
}

.bio-text {
  margin-top: calc(#{$bio-img-diameter} / 3);
  margin-right: calc(#{$bio-img-diameter} / 3);
  margin-left: calc(#{$bio-img-diameter} / 3);
  padding: 5px 10px;

  border-radius: 8px;

  @each $group, $color in $timeline-group-colors {
    &-group-#{$group} {
      background-color: rgba($color, 0.1);
    }
  }
}

// Dimming effects for hover interactions
.bio-img,
.bio-text {
  transition: opacity map-get($timeline-vars, 'transition-duration');
}

.bio-img.dimmed,
.bio-text.dimmed {
  opacity: map-get($timeline-vars, 'event-hover-opacity');
}

#timeline {
  @each $key, $value in $timeline-vars {
    --#{$key}: #{$value};
  }

  // Add group color CSS variables
  @each $group, $color in $timeline-group-colors {
    --group-#{$group}: #{$color};
  }

  // TODO: update these min-heights to fit new timeline content (would be better
  //  if they weren't hardcoded)
  /* stylelint-disable-next-line order/order -- @each at-rule above declares
  custom CSS variables, which should come first */
  @media (width <= 991px) {
    min-height: 675px;
  }

  @media (width <= 767px) {
    min-height: 728px;
  }

  @media (width <= 575px) {
    min-height: 970px;
  }

  @media (width <= 414px) {
    min-height: 1150px;
  }

  ul {
    display: none;
  }
}

.timeline-canvas-el {
  position: absolute;
}
