.bio-paragraph {
  // TODO: update this to only take affect above a particular min-width
  text-align: justify;

  @media (width >= 992px) {
    // to give the timeline some additional room, give the enclosing row
    // .no-gutters and add the timeline column's normal 15px padding-left to the
    // the bio column's 15px padding-right
    padding-right: 30px;
  }

  + .bio-paragraph {
    margin-top: 2.5rem;
  }

  img {
    width: 6rem;
    height: 6rem;
    shape-outside: circle(50%);

    object-fit: cover;
    clip-path: circle(50%);
  }

  .bio-img-right {
    float: right;
    margin-left: 0.5rem;
  }

  .bio-img-left {
    float: left;
    margin-right: 0.5rem;
  }

  .bio-text {
    padding-top: 2rem;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
  }
}

#timeline {
  @each $key, $value in $timeline-vars {
    --#{$key}: #{$value};
  }

  // TODO: update these min-heights to fit new timeline content (would be better
  //  if they weren't hardcoded)
  /* stylelint-disable-next-line order/order -- @each at-rule above declares
  custom CSS variables, which should come first */
  @media (width <= 991px) {
    min-height: 675px;
  }

  @media (width <= 767px) {
    min-height: 728px;
  }

  @media (width <= 575px) {
    min-height: 970px;
  }

  @media (width <= 414px) {
    min-height: 1150px;
  }

  ul {
    display: none;
  }
}

.timeline-canvas-el {
  position: absolute;
}
