.header-icons-row {
  @include fade-in($duration: $header-fade-in-duration, $delay: $header-icons-fade-in-delay, $timing-func: $header-fade-in-timing);

  justify-content: center;

  a:hover {
    text-decoration: none;
  }
}

.header-icon {
  display: inline-block;

  width: 2em;
  height: 2em;
  margin: 1vw;

  font-size: 6vw;
  line-height: 2em;
  color: $header-fg;
  vertical-align: middle;

  border: 2px solid $header-fg;
  border-radius: 50%;

  transition: color 0.7s, background 0.7s;

  @media (width >= 768px) {
    margin: 0.5em;
    font-size: 2em;
  }

  &:hover,
  &:active {
    color: $header-bg;
    background: $header-fg;
  }
}
