#particle-image {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;
  padding-top: var(--navbar-height);

  background-color: $header-bg;
}

.particle-image-canvas-el {
  position: absolute;
}
