<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% assign title_is_not_empty = page.title | is_not_empty %}{% if title_is_not_empty %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/img/favicon/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/img/favicon/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/img/favicon/favicon-16x16.png' | relative_url }}">
  <link rel="manifest" href="{{ 'assets/img/favicon/site.webmanifest' | relative_url }}">
  <link rel="mask-icon" href="{{ 'assets/img/favicon/safari-pinned-tab.svg' | relative_url }}" color="#5bbad5">
  <link rel="shortcut icon" href="{{ 'assets/img/favicon/favicon.ico' | relative_url }}">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="{{ 'assets/img/favicon/browserconfig.xml' | relative_url }}">
  <meta name="theme-color" content="#ffffff">
  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
  <link href="{{ 'assets/css/creative.css' | relative_url }}" rel="stylesheet">
  <link href="{{ 'assets/css/main.css' | relative_url }}" rel="stylesheet">
  <!-- Scripts -->
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

  <script src="{{ 'assets/js/creative.min.js' | relative_url }}" defer></script>
  <script type="text/javascript" src="{{ 'assets/js/particle-image.min.js' | relative_url }}" defer></script>
  <script type="text/javascript" src="{{ 'assets/js/timeline.min.js' | relative_url }}" defer></script>
  <!-- init script for tooltip plugin (from Popper.js) -->
  <script>
    $(document).ready(function() {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
  {% seo %}
  {% if site.google_analytics.enabled %}
    {% include analytics.html %}
  {% endif %}
</head>

<body id="page-top" class="{% if page.layout == site.landing_template %}landing {% endif %}">
  {% include nav.html    section=section site=site page=page %}
  {{ content }}
  {% include footer.html section=section site=site page=page %}


</body>

</html>
