---
layout: base
---

<header class="masthead vh-100">
  <div id="particle-animation" data-img="/assets/img/brain-medium.png"></div>
  <div class="container-fluid h-100">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-auto">
        <h1 class="text-uppercase text-white font-weight-bold fade-in">{{ page.header.title }}</h1>
        <div class="header-icons fade-in">
          {% for icon in page.header.icons %}
          <a aria-label="{{ icon.title }}" href="{{ icon.url }}" target="_blank" rel="noopener noreferrer"><i class="icon {{ icon.icon_type }} {{ icon.icon }}" aria-hidden="true"></i></a>
          {% endfor %}
        </div>
    </div>
    </div>
  </div>
</header>

{% for section in page.sections %}
  {% include {{ section.type }} section=section site=site page=page %}
{% endfor %}

{{ content }}